<h1>New affiliate_link</h1>

<% form_for(@affiliate_links) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :link_type %><br />
   <%= f.collection_select( :link_type, AffiliateLink::LINK_TYPES, :link_type, :link_type, {:prompt => true})  %>
  </p>
  <p>
    <%= f.label :ad_text %><br />
    <%= f.text_field :ad_text %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', affiliate_links_path %>
